
<div class="map1">
    <div class="asset_1 a4" id="asset_9">
        <div class="chart_f" id="asset_9"></div>
    </div>
</div>

     <div class="column">
             <div class="panel_small_small">
                 <div class="no">
                    <div class="no-top">
                        <ul>
                            <li>0.83</li>
                            <li_red>1.21 ↑</li_red>
                        </ul>
                    </div>
                <div class="no-btm">
                    <ul>
                        <li>当期存贷比率</li>
                        <li>当期不良率</li>
                    </ul>
                </div>
            </div>
                  <div class="no">
                    <div class="no-top">
                        <ul>
                            <li>0.85</li>
                            <li>1.10</li>
                        </ul>
                    </div>
                <div class="no-btm">
                    <ul>
                        <li>存贷比率警戒值</li>
                        <li>不良率警戒值</li>
                    </ul>
                </div>
            </div>

            </div>
             <div class="panel_big_big">
                <div class="charttitle">贷款等级情况</div>
                <div class="chart_biggest" id="asset_10"></div>
                <div class="panelfoot"></div>
                <div class="panelfoot"></div>
            </div>
        </div>

<script>
    $(function (){
    var myChart = echarts.init(document.getElementById('asset_9'));
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#ffffff'
                }
            }
        },
        legend: {
            textStyle: {fontsize:18, color:'#ffffff'},
            data: ['存贷比率(%)' , '不良率(%)']
        },
        xAxis: [
            {
                type: 'category',
                // data: ['1月', '2月', '3月', '4月', '5月', '6月'],
                data:{{ form.month|safe }},
                axisPointer: {
                    type: 'shadow'
                },
                axisLabel:{
                    textStyle: {fontsize:18, color:'#ffffff'}
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show:false
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '存贷比率(%)',
                min: 0,
                max: 2,
                splitNumber : 3,
                nameTextStyle: {
                    color: 'rgba(255,255,255,0.5)',
                    fontFamily: 'Source Han Sans CN', // 字体
                    fontSize: 12, // 大小
                    // padding: [0, 0, 20, 0]
                },
                axisLabel: {
                    textStyle: {fontsize:18, color:'#ffffff'},
                    formatter: '{value}'
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show:false
                }
            },
            {
                type: 'value',
                name: '不良率(%)',
                min: 0,
                max: 2,
                splitNumber : 3,
                nameTextStyle: {
                    color: 'rgba(255,255,255,0.5)',
                    fontFamily: 'Source Han Sans CN', // 字体
                    fontSize: 12, // 大小
                    // padding: [0, 0, 20, 0]
                },
                axisLabel: {
                    textStyle: {fontsize:5, color:'#ffffff'},
                    formatter: '{value}'
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show:false
                }
            }
        ],
        series: [
            {
                name: '存贷比率(%)',
                color: '#ff8302',
                type: 'line',
                barWidth:'50%',
                //data: [0.77,0.77,0.78,0.80,0.81,0.83],
                data:{{ form.xAxis1 }},
                itemStyle: {
                    normal: {
                        label: {
                            show: true,		//开启显示
                            position: 'top',	//在上方显示
                            textStyle: {	    //数值样式
                                color: 'white',
                                fontSize: 16
                            }
                        },
                         barBorderRadius: 25,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {
                                offset: 0,
                                color: '#fccb05'
                            },
                            {
                                offset: 1,
                                color: '#f5804d'
                            }
                        ]),
                    }

                }
            },
            {
                name: '不良率(%)',
                color: '#F6E331',
                type: 'line',
                smooth:true,//设置折线图平滑
                yAxisIndex: 1,
                //data: [1.35, 1.35, 1.32, 1.27, 1.23,1.19],
                data:{{ form.xAxis2 }},
                itemStyle: {
                    normal: {
                        label: {
                            show: true,		//开启显示
                            position: 'top',	//在上方显示
                            textStyle: {	    //数值样式
                                color: 'white',
                                fontSize: 16
                            }
                        }
                    }
                }
            },
        ]
    };
    myChart.setOption(option);
    tools.loopShowTooltip(myChart, option, {
        loopSeries: true
    });
});
    $(function (){
    var myChart8 = echarts.init(document.getElementById('asset_10'));
    var markLineData = [];
    var source =  [
        ['贷款等级情况', '2015', '2016'],
        {% for i in range(0,5) %}
            ['{{ form.pie_name[i] }}',{{ form.pie_num[i] }}],
        {% endfor %}
{#        ['正常', 114800000],#}
{#        ['关注', 5048200],#}
{#        ['次级', 794500],#}
{#        ['可疑', 214100],#}
{#        ['损失', 75590]#}
    ];

    // 添加“其他”
    addOtherData(source,4);

    option = {
        legend: {
            show:false,
            textStyle: { color: "#ffffff" },
        },
        tooltip: {},
        dataset: {
            source: source
        },
        //color:['#F68944', '#FBC10D','#DCE02A','#96E043','#42D43F','#10B680','#F7B37C'],
        series: [
            {
                type: 'pie',
                radius: "50%",
                center: ['25%', '50%'],
                label:{            //饼图图形上的文本标签
                    normal:{
                        show:true,
                        position:'inside', //标签的位置
                        textStyle : {
                            fontWeight : 300 ,
                            fontSize : 16    //文字的字体大小
                        },
                        formatter:'{d}%'
                    }
                },
                itemStyle: {
                        normal: {
                            //color:['#F68944', '#FBC10D']
                            color: function (params) {
                                //自定义颜色
                                var colorList = ['#E68944', '#FBC10D'];
                                return colorList[params.dataIndex]
                            },
                        }
                    },
                startAngle: 45, // 起始角度 45
                clockwise: false, // 逆时针
                markLine:{
                    lineStyle: {
                        type: 'solid',
                        color:"#ffffff"
                    },
                    symbol: 'none',
                    data:markLineData
                },

            },
            {
                type: 'pie',
                radius: "30%",
                center: ['75%', '50%'],
                encode: {
                    itemName: '贷款等级情况',
                    value: '2016',
                },
                label: {
                    show: true,
                    position: "inside"
                },
                itemStyle: {
                        normal: {
                            color: function (params) {
                                //自定义颜色
                                var colorList = ['#DCE02A','#96E043','#42D43F','#10B680','#F7B37C'];
                                return colorList[params.dataIndex]
                            },
                        }
                    }
            }
        ]
    };

// 获取表标线 对应点坐标
    function getMarkLineData(percent) {
        // 1.获取画布 width,height
        let height = myChart8.getHeight();
        let width = myChart8.getWidth() ;

        // 2.  根据 series[0].center 获取圆心坐标
        let x0 = width*0.25 ;// 圆心x轴坐标

        //3.圆边上点坐标
        // let x1   =   x0   +   r   *   cos(ao   *   3.14   /180   )
        // let y1   =   y0   +   r   *   sin(ao   *   3.14   /180   )

        // “其他” 终点坐标series[0].startAngle 45
        let x1 = x0 + (height/4) * Math.cos(45 * 3.14 / 180);
        let y1 = (height*0.5)   -   (height/4)   *   Math.sin(45   *   3.14   /180   );

        let ao = 360 * (percent/100) ;// 扇形角度

        let ao1 = 0 ;// 用来计算的坐标角度
        ao1=(ao<=45)?(45-ao):(360-(ao-45));
        if(ao1<270 && ao1>45)ao1=270 ;// 角度当270用，要不样式不好看

        let x2=0,y2=0;
        x2=x0 + (height/4) * Math.cos(ao1 * 3.14 / 180);
        y2 = (height*0.5)  -   (height/4)   *   Math.sin(ao1   *   3.14   /180   );

        return [[{x:x1,y:y1},{x: "75%", y: "35%"}],[{x:x2,y:y2},{x: "75%", y: "65%"}]]
    }
// 添加其他
    function addOtherData(datasetSource,len){
        let percent = 0;
        let sum=0 ;// 总计
        datasetSource.forEach((data,rowIndex)=>{
            if(rowIndex>0){ // 第一行数据不算
                let count=0;
                for(let key of data){
                    let value = isNaN(key)?0:Number(key);
                    if(count===1)sum+=value;
                    count++
                }
            }
        });
        let endData = datasetSource.slice(datasetSource.length-len);
        let other = ["异常"];
        for(let i=0;i<endData.length;i++){
            let j=0;
            for(let key of endData[i]){
                let value = isNaN(key)?0:key;
                if(j)other[j]?(other[j]+=value):other.push(value);
                j++
            }
            endData[i].splice(1,0,"")
        }
        datasetSource.push(other);
        // "其他"占比
        percent = sum?((other[1]/sum)*100).toFixed(2):100;
        markLineData = getMarkLineData(percent)
    }
    myChart8.setOption(option);
    tools.loopShowTooltip(myChart8, option, {
        loopSeries: true
    });

});
</script>