<div class="map1">
      <div class="asset_1 a1">
          <div class="chart_f" id="asset_1"></div>
      </div>
</div>

<div class="column">
     <div class="panel_small">
         <div class="no">
            <div class="no-top">
                <ul>
                    <li>{{ form.current | safe}}</li>
                    <li>{{ form.Avg_5y|safe }}</li>
                </ul>
            </div>
            <div class="no-btm">
                <ul>
                    <li>当期总资产(百万)</li>
                    <li>近5年年均增长率</li>
                </ul>
            </div>
        </div>
         <div class="no">
        <div class="no-top">
            <ul>
                <li>{{ form.YoY|safe }}</li>
                <li>{{ form.QoQ|safe }}</li>
            </ul>
        </div>
        <div class="no-btm">
            <ul>
                <li>同比增长(%)</li>
                <li>环比增长（%）</li>
            </ul>
        </div>
    </div>
         <div class="no">
          <div class="no-top">
            <ul>
                <li>6.63%</li>
            </ul>
        </div>
        <div class="no-btm">
            <ul>
                <li>预测增长率</li>
            </ul>
        </div>
    </div>
    </div>
     <div class="panel_big">
        <div class="charttitle">资产组合情况</div>
        <div class="chart_big" id="asset_2"></div>
        <div class="panelfoot"></div>
        <div class="panelfoot"></div>
    </div>
</div>


<script>
    $(function (){
    var myChart1 = echarts.init(document.getElementById('asset_1'));
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#ffffff'
                }
            }
        },
        legend: {
            textStyle: {fontsize:18, color:'#ffffff'},
            data: ['财务-资产(百万)' , '增长率(%)']
        },
        xAxis: [
            {
                type: 'category',
                //data: ['1月', '2月', '3月', '4月', '5月','6月'],
                data: {{ form.month|safe }},
                axisPointer: {
                    type: 'shadow'
                },
                axisLabel:{
                    textStyle: {fontsize:18, color:'#ffffff'}
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show:false
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '财务-资产(百万元)',
                min: 0,
                max: {{form.xAxis1|max}},
                splitNumber : 5,
                nameTextStyle: {
                    color: 'rgba(255,255,255,0.5)',
                    fontFamily: 'Source Han Sans CN', // 字体
                    fontSize: 12, // 大小
                    // padding: [0, 0, 20, 0]
                },
                axisLabel: {
                    textStyle: {fontsize:18, color:'#ffffff'},
                    formatter: '{value}'
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show:false
                }
            },
            {
                type: 'value',
                name: '增长率(%)',
                min: -20,
                max: 8,
                splitNumber : 5,
                nameTextStyle: {
                    color: 'rgba(255,255,255,0.5)',
                    fontFamily: 'Source Han Sans CN', // 字体
                    fontSize: 12, // 大小
                    // padding: [0, 0, 20, 0]
                },
                axisLabel: {
                    textStyle: {fontsize:5, color:'#ffffff'},
                    formatter: '{value}%'
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show:false
                }
            }
        ],
        series: [
            {
                name: '财务-资产(百万)',
                // color: '#ff8302',
                type: 'bar',
                barWidth:'50%',
                //data: [60.67,67.41,69.50,70.99,74.73,78.66],
                data: {{ form.xAxis1 }},
                itemStyle: {
                    normal: {
                        label: {
                            show: true,		//开启显示
                            position: 'top',	//在上方显示
                            textStyle: {	    //数值样式
                                color: 'white',
                                fontSize: 16
                            }
                        },
                        barBorderRadius: 25,
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {
                                offset: 0,
                                color: '#fccb05'
                            },
                            {
                                offset: 1,
                                color: '#f5804d'
                            }
                        ]),
                    }
                }
            },
            {
                name: '增长率(%)',
                color: '#F6E331',
                type: 'line',
                smooth:true,//设置折线图平滑
                yAxisIndex: 1,
                //data: [2.1, 11.11,3.09,6.2,7.53,5.26],
                data: {{ form.xAxis2 }},
                itemStyle: {
                    normal: {
                        label: {
                            show: false,		//开启显示
                            position: 'top',	//在上方显示
                            textStyle: {	    //数值样式
                                color: 'white',
                                fontSize: 16
                            }
                        }
                    }
                }
            },
        ]
    };
    myChart1.setOption(option);
    tools.loopShowTooltip(myChart1, option, {
        loopSeries: true
    });
});
    $(function (){
    var myChart2 = echarts.init(document.getElementById('asset_2'));
    option = {
        tooltip: {
            trigger: 'item'
        },
        legend: {
            top: '5%',
            left: 'center',
            textStyle: { color: "#ffffff" },
        },
        series: [
            {
                name: '资产',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                label:{            //饼图图形上的文本标签
                    normal:{
                        show:true,
                        position:'inner', //标签的位置
                        textStyle : {
                            fontWeight : 300 ,
                            fontSize : 16    //文字的字体大小
                        },
                        formatter:'{d}%'
                    }
                },
                emphasis: {
                    label: {
                        show: false,
                        fontSize: '40',
                        fontWeight: 'bold',
                        color: "#ffac11"
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {%   for i in range(0,4) %}
                        { value:{{ form.Pie_num[i]|safe }},name:'{{ form.Pie_name[i]|safe }}' },
                    {% endfor %}
                    {#{value: {{ form.Pie_num[0] }},name:"xianjin" },#}
                    {#{value: {{ form.Pie_num[1] }},name:'{{ form.Pie_name[1]|safe }}' }#}
                    {#{ value: 57, name: "发放贷款及垫款" },#}
                    {#{ value: 22, name: "存放同业款项" },#}
                    {#{ value: 10, name: "现金" },#}
                    {#{ value: 6, name: "金融投资" },#}
                    {#{ value: 5, name: "其他" }#}
                ],
                itemStyle: {
                    normal: {
                        color: function(params) {
                            //自定义颜色
                            var colorList = ['#F68944', '#FBC10D','#DCE02A','#96E043','#42D43F','#10B680'];
                            return colorList[params.dataIndex]
                        },
                        label: {
                            show: true,		//开启显示
                            position: 'top',	//在上方显示
                            textStyle: {	    //数值样式
                                color: 'white',
                                fontSize: 16
                            }
                        }
                    }
                }
            }
        ]
    };
    myChart2.setOption(option);
    tools.loopShowTooltip(myChart2, option, {
        loopSeries: true
    });
});

</script>