{% for info in form %}
    <div class="info1">
        <ul>
            <li>{{ info.age|int }}</li>
            <li>客户平均年龄</li>
        </ul>
    </div>
    <div class="info2">
        <ul>
            <li>{{ info.degree|safe }}</li>
            <li>客户平均学历</li>
        </ul>
    </div>
    <div class="info3">
        <ul>
            <li>￥{{ info.trd }}</li>
            <li>产品平均投资额</li>
        </ul>
    </div>
    <div class="info4">
        <ul>
            <li>{{ info.overdue }}%</li>
            <li>客户近半年逾期率</li>
        </ul>
    </div>
{% endfor %}
<div class="userpic">
    <div class="pic1"><img src="../static/images/pic1.png"></div>
    <div class="pic2"><img src="../static/images/pic2.png"></div>
    {#            <div class="pic3"><img src="../static/images/pic3.png"></div>#}
    <div class="pic3"></div>
</div>

<script>

</script>