<div id="predict3"></div>

<script>
    $(function (){
    var myChart3 = echarts.init(document.getElementById('predict3'));
    var option = {
    title : {
        text: '实际贷款完成率',
        left: 'center',
        textStyle: {fontsize:14, color:'#ffffff'}
    },
        series: [{
            type: 'liquidFill',
            radius: '75%',
            center:['50%','60%'],
            itemStyle: {
                normal: {
                    color: '#43b3ef',
                    opacity: 0.8,
                    shadowColor: '#43b3ef',
                    shadowBlur: 20
                }
            },
            backgroundStyle: {
                shadowColor: 'rgba(255, 255, 255, 0.5)',
                shadowBlur: 20
            },
            data: [{
                value: 0.78,
                waveLength: 180
            }],
            label: {
                fontSize: 18,
                color: '#43b3ef',
                insideColor: '#ffffff'
            },
            outline: {
                show: false
            }
        }]
    };

    myChart3.setOption(option);

});
</script>

<script type="text/javascript" src="../static/js/echarts-3.7.0.js"></script>
<script type="text/javascript" src="../static/js/echarts-liquidfill.js"></script>
