<div class="div_table">
<div class="div_table_box ">
    <div class="div_any_child">
        <div class="table_p">
         <div class="div_any_title">客户总规模Top5 </div>
            <table>
                <thead><tr><th>排名</th><th>省份</th><th>数量(千)</th></tr></thead>
                <tbody>
                {% set count=namespace(value=1) %}
                {% for row in form %}
                    <tr>
                        <td>{{ count.value }}</td><td>{{ row.name }}</td><td>{{ row.total }}</td>
                    </tr>
                    {% set count.value=count.value + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="div_any_child">
        <div class="div_any_title">活跃客户总规模Top5 </div>
        <div class="table_p">
            <table>
                <thead><tr><th>排名</th><th>省份</th><th>数量(千)</th></tr></thead>
                <tbody>
                <tr><td>1</td><td>北京</td><td>1310</td></tr>
                <tr><td>2</td><td>广东</td><td>1208</td></tr>
                <tr><td>3</td><td>上海</td><td>1105</td></tr>
                <tr><td>4</td><td>浙江</td><td>970</td></tr>
                <tr><td>5</td><td>福建</td><td>879</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 <!--                    下一个表格-->
<div class="div_table_box">
    <div class="div_any_child">

        <div class="table_p">
            <div class="div_any_title">有效客户总规模Top5 </div>
            <table>
                <thead><tr><th>排名</th><th>省份</th><th>数量(千)</th></tr></thead>
                <tbody>
                <tr><td>1</td><td>上海</td><td>1025</td></tr>
                <tr><td>2</td><td>广东</td><td>1017</td></tr>
                <tr><td>3</td><td>北京</td><td>1012</td></tr>
                <tr><td>4</td><td>浙江</td><td>976</td></tr>
                <tr><td>5</td><td>重庆</td><td>874</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="div_any_child">
        <div class="table_p">
            <div class="div_any_title">高级客户总规模Top5 </div>
            <table>
                <thead><tr><th>排名</th><th>省份</th><th>数量(千)</th></tr></thead>
                <tbody>
                <tr><td>1</td><td>北京</td><td>525</td></tr>
                <tr><td>2</td><td>上海</td><td>499</td></tr>
                <tr><td>3</td><td>浙江</td><td>490</td></tr>
                <tr><td>4</td><td>广东</td><td>478</td></tr>
                <tr><td>5</td><td>福建</td><td>455</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{#<script type="text/javascript" src="../static/js/slide.js"></script>#}
