.mainbox_yewu{
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    margin: 0;
    background-color: pink;
}
.mainbox_yewu .column {
    flex:3
}
.mainbox_yewu .column:nth-child(2){
    flex:5;
    margin: 5px;
}

/*用户画像*/
.userpic .pic1{
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index:2;
    /*top: 50%;*/
    /*left: 50%;*/
    /*background-color: plum;*/

}
.userpic .pic2{
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index:3;
    /*top: 50%;*/
    /*left: 50%;*/
    /*background-color: plum;*/

}
.userpic .pic3{
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index:4;
    /*top: 50%;*/
    /*left: 50%;*/
    /*background-color: plum;*/

}