<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>概览图</title>
    <link rel="stylesheet" href="../static/css/index_2.css">
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/dongtai.js"></script>
</head>


<body>


{% block nav %}
    <nav>
        <ul>
            <li class="nav_active _left"><a href={{ url_for("index") }}>主要指标</a></li>
            <li class="_left"><a  href={{ url_for("finance") }}>财务情况</a></li>
            <li class="index_middle"><h1 style="font-size:24px;text-align:right">SWIFT银行财务数据可视化大屏</h1></li>
            <li class="_right"><a href="#">预测分析</a></li>
            <li class="_right"><a href={{ url_for("business") }}>业务情况</a></li>

        </ul>
    </nav>
{% endblock %}
{% block subnav %}
{% endblock %}
<!--页面主体部分-->
{% block main %}

    <div class="mainbox">
        <div class="column">
            <div class="panel">
                <div class="charttitle">银行行业地位</div>
                <div class="chart" id="echart1"></div>
                <div class="panelfoot"></div>
            </div>
            <div class="panel">
                <div class="charttitle">银行核心能力</div>
                <div class="chart" id="echart2"></div>
                <div class="panelfoot"></div>
            </div>
        </div>
        <div class="column">
            <!--数字模块-->
            <div class="no">
                <div class="no-top">
                    <ul>
                        <li>￥143,243,205</li>
                        <li>￥103,731,930</li>
                    </ul>
                </div>
                <div class="no-btm">
                    <ul>
                        <li>存款总额</li>
                        <li>贷款总额</li>
                    </ul>
                </div>
            </div>
            <div class="map">
<!--                <div class="pic1"></div>-->
<!--                <div class="pic2"></div>-->
<!--                <div class="pic3"></div>-->
                <div id="main"></div>
            </div>
        </div>

        <div class="column">
            <div class="panel">
                <div class="charttitle">资产规模</div>
                <div class="chart" id="echart3"></div>
                <div class="panelfoot"></div>
            </div>
            <div class="panel">
                <div class="charttitle">AUM</div>
                <div class="chart" id="echart4"></div>
                <div class="panelfoot"></div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/citymap.js"></script>
<!--<script type="text/javascript" src="../static/js/echarts.min.js"></script>-->
<script type="text/javascript" src="../static/js/Charts.js"></script>
<!--<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>-->

<!--<script type="text/javascript" src="../static/js/china.js"></script>-->

<!--<script type="text/javascript" src="../static/js/Charts_asset_sum.js"></script>-->
<!--<script type="text/javascript" src="../static/js/echarts.min.js"></script>-->

<!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>-->


</body>
</html>